<%= include_gon %>
<div id="main_header" class="col-mid-8">
    <h1> <%=user_identifier%>'s Default Map </h1>
</div>
<div id="map" class="col-mid-12">this is the map</div>

<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<%= javascript_include_tag "/js/map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>

<%= form_for current_user, url:{action: "edit_pic", controller:"users"}, html: {multipart: true, hidden:false} do |f| %>
  <input id= "dragphoto" name="dragphoto" type="text"/>
  <input id= "x" name="x" type="text" />
  <input id= "y" name="y" type="text" />
  <input id="submit" type="submit" />
<% end %>

<% if @unmapped.blank? %>
<% else %>
  <h3> Your photos with no coordinates </h3>
  <div style="display:inline-block;">
  <% @unmapped.each do |p| %>
    <%=image_tag p.image.url(:med), class:"unmapped_photo", id: p.id %>
  <% end %>
  </div>
<% end %>

<!-- At the bottom so it is executed only when the above code is run -->
<%= javascript_include_tag "/js/dragdrop.js" %>
