<%= include_gon %>
<div id="main_header" class="col-mid-8">
    <h1> <%=user_identifier%>'s Default Map </h1>
</div>
<div id="map" class="col-mid-12">this is the map</div>

<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<%= javascript_include_tag "/js/map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>
