<%=render "layouts/preloader" %>

<%= include_gon %>

<section id="portfolio" class="primary">

<div id="main_header" class="col-mid-8">
    <h1> <%=user_identifier%>'s Default Map </h1>
</div>

<div class="container">
  <div class = "row">
    <% if @unmapped.blank? %>
      <div id="map" class="col-md-12 col-sm-12 col-xs-12"></div>
    <% else %>
      <div id="map" class="col-md-9 col-sm-10">this is the map</div>
      <div class="uncoordinated-photos col-md-3 col-sm-3 col-md-offset-1" >
        <%= form_for current_user, url:{action: "edit_pic", controller:"users"}, html: {multipart: true, hidden:true} do |f| %>
          <input id= "dragphoto" name="dragphoto" type="text"/>
          <input id= "x" name="x" type="text" />
          <input id= "y" name="y" type="text" />
          <input id="submit" type="submit" />
        <% end %>
        <div class="panel panel-primary "  >
          <div class="panel-heading">Albums current being mapped</div>
            <div class="panel-body" id="album_list">
            </div>
          <div class="panel-heading">Your Photos with No Coordinates</div>
          <div class="panel-body">
            <% @unmapped.each do |p| %>
              <%=image_tag p.image.url(:med), class:"unmapped_photo", onclick:"selected()", id: p.id %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</section>
<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<%= javascript_include_tag "/js/map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>

<!-- iFrame to the form to drag and drop pictures to remap them -->
<iframe id="ifrm" src="/main/form" style="width:70%;" hidden=false></iframe>


<!-- At the bottom so it is executed only when the above code is run -->
<%= javascript_include_tag "/js/dragdrop.js" %>

<script>
  $('img').click(function(){
   $('.selected').removeClass('selected'); // removes the previous selected class
   $(this).addClass('selected'); // adds the class to the clicked image
  });

</script>
