<%= form_for :session, method: :get, url: landing_show_path do |form| %>
<div class="sign-up">
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
</div>
  <div class="submit-field">
    <%= form.submit(class: "btn btn-primary") %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, {:class => "label label-default"}   %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path, {:class => "label label-default"} %>
  </div>
<% end %>
