<section id="portfolio" class="primary">
<%= form_for :session, url: session_path do |form| %>
<div class="sign-up">

  <div class="email-field">
    <div class="text-field">
      <%= form.label :email %>
    </div>
    <div class="label-field">
      <%= form.text_field :email, type: 'email' %>
    </div>
  </div>

  <div class="password-field">
    <div class="text-field">
      <%= form.label :password %>
    </div>
    <div class="label-field">
      <%= form.password_field :password %>
    </div>
  </div>
</div>
  <div class="submit-field">
    <%= form.submit(class: "btn btn-primary") %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, {:class => "label label-default"}   %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path, {:class => "label label-default"} %>
  </div>
<% end %>
</section>