
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <%= stylesheet_link_tag "bootstrap.min" %>


    <!-- Custom CSS -->
    <!--<link href="css/stylish-portfolio.css" rel="stylesheet">-->
    <%= stylesheet_link_tag "stylish-portfolio" %>


    <!-- Custom Fonts -->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <%= stylesheet_link_tag "font-awesome.min" %>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- Navigation --->
<!--<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>-->

<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <%= form_tag("/friends/results", method: "post") do %>
        <%=label_tag(:s, "Search:") %>
        <%= text_field_tag(:s) %>
        <%= submit_tag("Search") %>
    <% end %>

    <section id="services" class="services bg-primary">

      <% if @get_friend_reqs.size >= 1 %>
        <div class="container">
          <br />
          <button class="btn col-md-offset-11 col-md-1" type="button" data-toggle="collapse" data-target="#friend-request-list" aria-expanded="false" aria-controls="friend-request-list" id="friend-request-toggle">
            <%=@get_friend_reqs.size%> <i class="fa fa-user-plus"></i>
          </button>
          <div class="collapse" id="friend-request-list">
            <div>
              <!--Shows friend requests-->
                  <% @get_friend_reqs.each do |f| %>
                      <div>
                          <% if !f.did_accept %>
                            <% f_request = f.popular_model_id #for decline/reject%>
                            <div>
                              <div class="col-sm-4 col-md-2">
                                <div class="thumbnail">

                                  <img src="https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg" alt="Profile Picture">
                                  <div class="caption">
                                    <h3>
                                      <%= User.find(f.popular_model_id).first_name %>
                                      <br/>
                                      <%= User.find(f.popular_model_id).last_name %>
                                    </h3>
                                    <p>has sent you a friend request</p>
                                    <p>
                                      <%= form_tag("/friends", :action => "index", method: "get") do %>
                                          <%= hidden_field_tag(:accept, f.id) %>
                                          <br />
                                          <%= button_tag(type: 'submit', class: "btn btn-primary", id: "friend-accept") do %>
                                              <i class="fa fa-check"></i>
                                          <% end %>
                                      <% end %>
                                      <%= form_tag("/friends", :action => "index", method: "get") do %>
                                          <%= hidden_field_tag(:reject, f_request) %>
                                          <%= button_tag(type: 'submit', class: "btn btn-danger", id: "friend-decline") do %>
                                              <i class="fa fa-times"></i>
                                          <% end %>
                                      <% end %>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% end %>

                      </div>
                  <% end %>
            </div>
        </div>
      <% end %>

      <div>
      <!--When user accepts friend request, shows alert-->
      <!-- Displays a notification to user when friend accepts request -->
        <% @friend_shown_array = Popular::Friendship.where(popular_model_id:current_user.id) %>
            <%= @friend_shown_array == nil %>
            <% if @friend_shown_array %>    
                <% @friend_shown_array.each do |f| %>
                    <% if f.did_accept %>
                        <% Popular::Friendship.find(f).update_attribute(:did_accept, false) %> <!--Needed to keep track of which ones were already shown -->
                        
                        <!--From _alert.html.erb -->
                        <%= render :layout =>'layouts/alert' do %>
                          You accepted <%= User.find(f.popular_model_id).first_name %> <%= User.find(f.popular_model_id).last_name %>'s friend request!
                        <%end%>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <!-- Displays the user's friends -->
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <h2> My Friends </h2>
                  <hr class="small">
                    <div class="row">
                      <td>
                        <% if @all_friends %>
                          <% @all_friends.each do |f| %>
                            <div class="col-md-3 col-sm-6">
                              <div class="service-item">

                                <!--Removing a friend -->
                               <!-- <%#= form_tag("/friends", :action => "index", method: "get") do %>-->

                                <!-- Listing all friends -->
                                <img src="https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg" class="img-responsive img-rounded"  alt="Profile Picture">
                                <h4> <tr>
                                    <%= f.first_name %> <%=f.last_name%>
                                </tr> </h4>

                              <!--Expand to see a friend's albums-->
                                <div style="background-color:blue"><!--needs to go to css -->
                                  <span class="expand"><class="btn btn-light">See Albums</a></span>
                                  <ul>
                                    <!--This is where the user's albums will go -->
                                    <li><span>Album 1</span></li>
                                    <li><span>Album 2</span></li>
                                    <li><span>Album 3</span></li>
                                  </ul>
                                </div>
                              </div>
                              <%= form_tag("/friends", :action => "index", :method => "get", :onclick => 'return remove_friend()') do %>
                                <% u = f.id %>
                                <%= hidden_field_tag(:remove, u) %>
                                <%= button_tag(type: 'submit', class: "btn btn-danger", id: "friend-remove") do %>
                                  <i class="fa fa-user-times"></i>
                                <% end %>
                              <% end %>
                            </div>
                          <% end %>
                        <% end %>
                      </td>
                    </div>
                  </hr>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Need to put this in a different place  -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(function(){
//hide or collapsed initially.
$('#services').find('ul').hide();
$('#services').find("span.expand").click(function(e){
    $(this).parent().children('ul').toggle();
});
});


</script>
<script type="text/javascript">
function remove_friend(){
    confirm('Are you sure?')
    if (confirm('Are you sure?')) {
         window.location.reload();
    }
</script>
