
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <%= stylesheet_link_tag "bootstrap.min" %>


    <!-- Custom CSS -->
    <!--<link href="css/stylish-portfolio.css" rel="stylesheet">-->
    <%= stylesheet_link_tag "stylish-portfolio" %>


    <!-- Custom Fonts -->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <%= stylesheet_link_tag "font-awesome.min" %>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- Navigation --->
<!--<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>-->

<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <%= form_tag("/friends/results", method: "post") do %>
        <%=label_tag(:s, "Search:") %>
        <%= text_field_tag(:s) %>
        <%= submit_tag("Search") %>
    <% end %>      

    <section id="services" class="services bg-primary">

        <div class="container">
        <br />
            <!--Shows friend requests-->
            <% if @get_friend_reqs %>
                <% @get_friend_reqs.each do |f| %>
                    <div>
                        <% if !f.did_accept %>
                            <% f_request = f.popular_model_id #for decline %>

                            <%= User.find(f.popular_model_id).first_name %> <%= User.find(f.popular_model_id).last_name %> has sent you a friend request: 
                        
                            <!--Option to accept friend request-->
                            <%= form_tag("/friends", :action => "index", method: "get") do %>
                                <%= hidden_field_tag(:accept, f.id) %>
                            <br />
                            <%= submit_tag("Accept as Friend") %>
                        <% end %>

                        <!--Option to decline friend request-->
                        <%= form_tag("/friends", :action => "index", method: "get") do %>
                            <%= hidden_field_tag(:reject, f_request) %>
                            <%= submit_tag("Decline") %>
                        <% end %>

                        <% end %>    
                    </div>         
                <% end %>
            <% end %>
   
            <div>

            <!--When user accepts friend request, shows alert-->         
            <% if @friend_shown_array %>
                

                <% @friend_shown_array.each do |f| %>
                    <% if f.did_accept %>

                        <!--From _alert.html.erb -->
                        <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    you acccepted <%= User.find(f.popular_model_id).first_name %> <%= User.find(f.popular_model_id).last_name %>'s friend request!
                        </div>  

                        <% @friend_shown_array.delete(f) %>

                    <% end %>
                <% end %>

                <!--Remove accepted requests after they're shown-->
                Clone:
                <% @friend_shown_array.each do |f| %>   
                    <%= f %>
                <% end %>
                Original:
                <% @get_friend_reqs.each do |u4| %>
                            <%= u4 %>
                        <% end %> 
                

            <% end %>


            <!--When friend accepts user's request, shows alert-->
            <% Popular::Friendship.where(popular_model_id:current_user.id).each do |u| %>
                <% if u.did_accept %>

                <!--From _alert.html.erb -->
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= User.find(u.friend_id).first_name %> <%= User.find(u.friend_id).last_name %> accepted your request!
                    </div> 
                        
                <% end %>
            <% end %>

        <!-- Displays the user's friends -->
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                <h2> My Friends </h2>
                <hr class="small">
                    <div class="row">
                        <td> 
                            <% if @all_friends %>
                                <% @all_friends.each do |f| %>
                                    <div class="col-md-3 col-sm-6">
                                    <div class="service-item">

                                    <!--Removing a friend -->
                                   <!-- <%#= form_tag("/friends", :action => "index", method: "get") do %>-->



                                    <%= form_tag("/friends", :action => "index", :method => "get", :onclick => 'return remove_friend()') do %>
                                        <% u = f.id %>

                                        <%= hidden_field_tag(:remove, u) %>
                                        <br />
                                       <%= submit_tag "Remove Friend" %> <!---,:onclick => "return confirm('Are you sure?')" %>-->

                                       <!-- <input type="submit" value="Remove Friend" onclick="return confirm('Are you sure?')"-->
                                    <% end %>
                                    

                                    <!-- Listing all friends -->
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4> <tr> 
                                        <%= f.first_name %> <%= f.last_name %>
                                    </tr> </h4>

                                    <!--Expand to see a friend's albums-->
                                    <div style="background-color:blue"><!--needs to go to css -->
                                    <span class="expand"><class="btn btn-light">See Albums</a></span>
                                    <ul>
                                        <!--This is where the user's albums will go -->
                                        <li><span>Album 1</span></li>
                                        <li><span>Album 2</span></li>
                                        <li><span>Album 3</span></li>
                                    </ul>
                                    </div>
                                    </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </td>
                    </div>
                </hr>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Need to put this in a different place  -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(function(){
//hide or collapsed initially.
$('#services').find('ul').hide();
$('#services').find("span.expand").click(function(e){
    $(this).parent().children('ul').toggle();
});
});


</script>
<script type="text/javascript">
function remove_friend(){
    confirm('Are you sure?')
    if (confirm('Are you sure?')) {
         window.location.reload();
    }
</script>
