  <section id="portfolio" class="primary">
  <div class="back-button">
      <%= link_to 'Back to friends', "/friends", class: "btn btn-primary" %>
  </div>
  </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h2> Results </h2>
        	<% if @results.empty? %>
        		<td> There are no results</td>
        	<% else %>
          	<hr class="small">
              <div id="container" style="text-align: center"><!--"margin-left: 5cm;">-->
                    <%= form_tag(friends_results_path, method: "post") do %>
                        <%=label_tag(:s, "New Friend Search:") %>
                        <%= text_field_tag(:s) %>
                        <%= submit_tag "Search", :class => "btn btn-primary" %>
                    <% end %>
                  </div>
              <div class="row">
                <% @results.each do |result| %>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg" alt="Profile Picture">
                      <div class="caption">
                        <h3><%= result.first_name %> <%= result.last_name %></h3>
                        <p>
                          <%= form_tag("/friends", :action => "index", method: "get") do %>
                            <%= hidden_field_tag(:friend, result.id) %>
                            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                              <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                            <% end %>
                          <%end%>
                        </p>
                      </div>
                    </div>
                  </div>
                <%end%>
              </div>
            </hr>
          <%end%>
        </div>
        <!-- /.container -->
    </section>
</body>
