<!-- <h1>This is the landing page</h1>

<p>  <a href = "login"> Login Page </a> </p>
<p>  <a href = "main"> User's Main Page </a> </p>
<p>  <a href = "friends"> Friends Page </a> </p>
<p>  <a href = "album"> Albums Page </a> </p>

-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mapperies</title>

    <!-- Make sure gon is active on the page -->
    <%= include_gon %>

    <!-- Bootstrap Core CSS -->
    <!--<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag "bootstrap.min" %>

    <!-- Custom CSS -->
    <!--<link href="/public/stylesheets/stylish-portfolio.css" rel="stylesheet">-->
     <%= stylesheet_link_tag "stylish-portfolio" %>

    <!-- Custom Fonts -->
    <!--<link href="/public/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <%= stylesheet_link_tag "font-awesome.min" %>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Mapperies</a>
            </li>
            <li>
                <a href="account/settings" onclick = $("#menu-close").click(); >Account</a>
            </li>
            <li>
                <a href="#map" onclick = $("#menu-close").click(); >Landing Page</a>
            </li>
            <li>

                <a href="login#login" onclick = $("#menu-close").click(); >Login/Logout</a>
            </li>
            <li>
                <a href="main/albums" onclick = $("#menu-close").click(); >Albums</a>
            </li>
            <li>
                <a href="main/friends" onclick = $("#menu-close").click(); >Friends</a>

            </li>
        </ul>
    </nav>



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Mapperies</h1>
            <h3>See where you have traveled!</h3>
            <br>
	    <a href="#map" class="btn btn-dark btn-lg">Learn how it works!</a>
	    <br>

            <a href="login#login" class="btn btn-dark btn-lg">Login</a>
        </div>
    </header>

    <!-- Map -->

       <div width="100%" id="map"></div>

 <!-- About -->


    <!-- Services -->

    <!-- Portfolio -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Mapperies</strong>
                    </h4>
                    <p>Brandeis University</p>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Team Mapperies 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

    <%= javascript_include_tag "/js/jquery.js" %>

    <%= javascript_include_tag "/js/bootstrap.min.js" %>

    <!-- link api key -->
    <%= javascript_include_tag "/js/map.js" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap"
    async defer></script>



    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
