  <div class="text-label-field">
    <%= form.label :email %>
  </div>
  <div class="text-label-field">
    <%= form.text_field :email, type: 'email' %>
  </div>
  <%error_list(:email).each do |msg|%>
      <%= render :layout =>'layouts/alert' do %>
          <%'Email ' + msg%>
      <%end%>
  <%end%>


  <div class="text-label-field">
    <%= form.label :password %>
  </div>
  <div class="text-label-field">
    <%= form.password_field :password %>
  </div>
  <%error_list(:password).each do |msg|%>
      <%= render :layout =>'layouts/alert' do %>
          <%'Password ' + msg%>
      <%end%>
  <%end%>


  <div class="text-label-field">
    <%= form.label :user_name %>
  </div>
  <div class="text-label-field">
    <%= form.text_field :user_name %>
  </div>

  <div class="text-label-field">
    <%= form.label :first_name %>
  </div>
  <div class="text-label-field">
    <%= form.text_field :first_name %>
  </div>

  <div class="text-label-field">
    <%= form.label :last_name %>
  </div>
  <div class="text-label-field">
    <%= form.text_field :last_name %>
  </div>

  <div class="text-label-field">
    <%= form.label :birthday%>
  </div>
  <div class="text-label-field">
    <%= form.date_field :birthday %>
  </div>



  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being registered:</h2>
    </div>
  <% end %>
