<div id="change_album_name">
  <button id="edit_name" onclick="edit()">Edit</button>
</div>

<br />
<div> Change privacy settings:
  <body onload="showFriends()">
  <%= form_tag(album_path, method: "get")  do %>
    <%= select_tag("opts", options_for_select(["Public", "Private"], selected: @pub_private), :onchange => "showFriends()") %>
     <!--Need Javascript here when switching from public/private -->
  <div id="f1" style="display:none">
    <% @friends_shared = Array.new %>
    <% @friend_access = Hash.new %>
    <% AlbumView.where(album_view_id: @album.id).each do |av| %>
      <% if av.user_id != current_user.id %>
        <% @friends_shared.push(av.user_id) %>
        <% @access = nil %>
        <% if av.view_upload_access == 0 %>
          <% @access = "View Only" %>
        <% elsif av.view_upload_access == 1 %>
          <% @access = "View and Upload" %>
        <% end %>
        <% @friend_access[av.user_id] = @access %>
      <% end %>
    <% end %>

      <% if @friends_shared %>

          <% get_friends.each do |f| %>
            <% if @friends_shared.include? f.id %>
              <div> <%= f.first_name %> <%= f.last_name %>
              <!--show which access privilege the friend has, and give option to change that setting -->
                  <%= select_tag("change_access", options_for_select(["View Only", "View and Upload"], selected: @friend_access[f.id])) %>
                  <%= hidden_field_tag(:friend, f.id) %>

                  <%= link_to "Unshare", {:controller => "albums", :action => "show", :unshare => f}, method: "get" %>
                </div>

            <% else %>
              <!--copied from new -->
              <select name="friends[]" multiple="multiple">
                <% get_friends.each do |f| %>
                  <option onclick="test()", value= <%= f.id %> >
                    <%= f.first_name %> <%= f.last_name %>
                  </option>
                <% end %>
              </select>
            <% end %>
          <% end %>

          <div id="access" style="display:none">
            <select name="access">
              <option value = "0">View Only</option>
              <option value = "1">View and Upload</option>
            </select>
          </div>

        <!--<#% end %>-->
      <% end %>
  </div>
      <%= submit_tag("Update") %>
  <% end %>
</div>
