
<% if @albums.blank? %>
<p> You don't have any albums yet </p>
<p> <%= current_user.id %> </p>
<% else %>
  <p> <%= @albums.count %>
  <% @albums.each do |album| %>
  <!--%= render :layout =>'layouts/listbackground' do %-->
  <tr>
    <td><div><%= album.last %></div></td>
    <td><%= link_to 'See', album.first %></td>
    <td><%= link_to 'Destroy', album.first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
