<%= button_to 'Create New Album', new_album_path %>

<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Albums</h2>
                    <hr class="small">
                    <div class="row">

                      <table>
                          <tbody>
                            <% if @albums.blank? %>
                            <p> You don't have any albums yet </p>
                            <p> <%= current_user.id %> </p>
                            <% else %>
                              <% @albums.each do |album| %>
                              <!--%= render :layout =>'layouts/listbackground' do %-->
                              <tr>
                                <td><div><%= album.album_name %></div></td>
                                <td><%= link_to 'See', album %></td>
                                <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>

                              </tr>
                              <% end %>
                            <% end %>

                          </tbody>
                        </table>

                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
