<%=render "layouts/preloader" %>
<%= include_gon %>
<div id="map_key" hidden=true>../</div>

<div id="main_header" class="col-mid-8">
    <h1> <%=@album_name%></h1>
    <h5> Album By <%=@owner.first_name%></h5>
</div>

<%=link_to "View as List", album_path %>

<div class="container">
  <div class = "row">
    <% if @unmapped.blank? %>
      <div id="map" class="col-md-12 col-sm-12 col-xs-12"></div>
    <% else %>
      <div id="map" class="col-md-9 col-sm-10"></div>
      <div class="uncoordinated-photos col-md-3 col-sm-3 col-md-offset-1" >
        <div class="panel panel-primary "  >
          <div class="panel-heading">
            <h3>Your Photos with No Coordinates</h3>
            <h5>Select a photo and click a place to map it</h5>
          </div>
          <div class="panel-body">
            <% counter=0 %>
            <% @unmapped.each do |p| %>
              <%=image_tag p.image.url(:med), class:"unmapped_photo", id: p.id, data:{album: @unmapped_album[counter]} %>
              <%counter=counter+1%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/bootstrap.min.js" %>
<%= javascript_include_tag "/js/map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>

<!-- iFrame to the form to drag and drop pictures to remap them -->
<iframe id="ifrm" src="/main/form" hidden=false></iframe>


<!-- At the bottom so it is executed only when the above code is run -->
<%= javascript_include_tag "/js/dragdrop.js" %>
<%= javascript_include_tag "main.js" %>
