<p id="notice"><%= notice %></p>
<p>
  <strong>Name the new album:</strong>

  <p> Also, choose if you would like to make it public or private, public meaning any of your friends can see the album, and private meaning you can limit viewing and/or uploading to specific users (or just yourself) </p>
</p>

<%= form_tag "create", method: "post"  do %>
  <%= text_field_tag 'album_name' %>
  <%= select_tag("opts", options_for_select(["Public", "Private"], selected: :option), :onchange => "showFriends()") %>	

 <!-- <select id = "opts", onchange="showFriends()">
  	<option value="0">Public</option>
  	<option value="1">Private</option>
  </select>-->

  <div id="f1" style="display:none">
    <!--<form name="form1">-->
        <select name="friends" multiple>
            <% @users.each do |f| #helper for all friends%>
            	<option value= <%= f.id %> >
            		<%= f.first_name %> <%= f.last_name %>
            	</option>

            <% end %>
        </select>
    <!--</form>-->
</div>

  <%= submit_tag("Create") %>
<% end %>

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
  <p> Your ID: <%= current_user.id %> </p>
<% else %>
  <h2><% @photos.count %></h2>
<% end %>


<%= link_to 'Back', albums_path %>

<!--

<script language="javascript">
    window.location.href = "/albums"
</script> -->

<script type="text/javascript">
    function showFriends() {
        var selopt = document.getElementById("opts").value;
    	if (selopt == "Private") {
            document.getElementById("f1").style.display = "block";
        }
        else {
        	document.getElementById("f1").style.display = "none";

        }
    }
</script>
