<%= javascript_include_tag "/js/change_to_edit.js" %>

<p id="notice"><%= notice %></p>


<%= form_for @album, action: :edit_name, html: {multipart: true, hidden:true} do |f| %>
  <input id="a_name" name="a_name" type="text" hidden="true" value="<%= @album.album_name%>"/>
  <%= f.submit 'Save', :id=>"submit_album_name_edit"%>
<% end %>


<div id="update_album_info">
  <ul id="album_name_parent">
    <p id="album_name">
      <%= @album.album_name%></p>
      <!--Image to link to editing the name of the album  -->
      <!-- <%= image_tag("edit.png", size:"10x10")%> -->
  </ul>
  <div id="change_album_name">
    <button id="edit_name" onclick="edit()">Edit</button>
  </div>

  <div> Change privacy settings:
    <%= form_tag(album_path, method: "get")  do %>
      <%= select_tag("opts", options_for_select(["Public", "Private"], selected: @pub_private)) %> <!--Need Javascript here when switching from public/private -->

      <% @friends_shared = Array.new %>
      <% @friend_access = Hash.new %>
      <% AlbumView.where(album_view_id:@album.id).each do |av| %>
        <% if av.user_id != current_user.id %>
          <% @friends_shared.push(av.user_id) %>
          <% @access = nil %>
          <% if av.view_upload_access == 0 %>
            <% @access = "View Only" %>
          <% elsif av.view_upload_access == 1 %>
            <% @access = "View and Upload" %>
          <% end %>
          <% @friend_access[av.user_id] = @access %>
        <% end %>
      <% end %>

        <% if @friends_shared %>
          <!--<div> You have shared with:
          <#% @friends_shared.each do |f| %>
            <#%= User.find(f.to_i).first_name %> <#%= User.find(f.to_i).last_name %> </div>-->

            <% get_friends.each do |f| %>
              <% if @friends_shared.include? f.id %>
                <div> <%= f.first_name %> <%= f.last_name %> 
                <!--show which view the friend has, and give option to change that setting -->
                    <%= select_tag("change_access", options_for_select(["View Only", "View and Upload"], selected: @friend_access[f.id])) %>
                    <%= hidden_field_tag(:friend, f.id) %> 
                   
                    <%= link_to "Unshare", {:controller => "albums", :action => "show", :unshare => f}, method: "get" %>
                  </div>
                  
              <% else %>
                <!--copied from new -->
                <select name="friends[]" multiple="multiple">
                  <% get_friends.each do |f| %>
                    <option onclick="test()", value= <%= f.id %> >
                      <%= f.first_name %> <%= f.last_name %>
                    </option>
                  <% end %>
                </select>
              <% end %> 
            <% end %> 

            <div id="access" style="display:none">
              <select name="access">
                <option value = "0">View Only</option>
                <option value = "1">View and Upload</option>
              </select>
            </div>

          <!--<#% end %>-->
        <% end %>
        <%= submit_tag("Update") %>
    <% end %>
  </div>

  <!-- Show map to allow user to define default location for their album -->
  <div id="map" style="height:300px;width:300px;" class="col-mid-12">this is the map</div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>
  <%= javascript_include_tag "/js/map_choose_default_location.js" %>
</div>
<!--Check to see if there are photos, then display the photos in the album  -->
<% if @photos.blank? %>
  <p> You don't have any photos yet </p>

<% else %>
  <% @photos.each do |p| %>
    <p><%=image_tag p.image.url(:med) %></p>
    <%= link_to 'Edit', edit_photo_path%>
    <% end %>
<% end %>

<!--Form to upload multiple photos  -->
<%= form_for @photo, html: {multipart: true} do |f| %>
  <div class="form-group">
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>
  <%= f.submit 'Upload' %>
<% end %>

<!--Link to new_album_photo_path  -->
<!-- <%= button_to 'Upload Photos!', new_photo_path %> -->

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<!--copied from new, needs to go in js-->
<script type="text/javascript">
    function test() {
      document.getElementById("access").style.display = "block";
    }
</script>