<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.album_name %>
</p>

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
<% else %>
  <% @photos.each do |p| %>
    <p><%=image_tag p.image.url(:med) %></p>
  <% end %>
<% end %>

 <!-- <%= form_tag "create", controller: "photos", method: "post"  do %>
  <%= file_field_tag 'image' %>
  <%= submit_tag("Upload") %>
<% end %> -->

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
  <p> Your ID: <%= current_user.id %> </p>
<% end %>



<%= form_for @photo, html: {multipart: true} do |f| %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit 'Upload' %>
<% end %>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
