<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.album_name %>
</p>

<p> You're album is: 
  <% if @album.isPublic %> 
    Public
  <% else %>
    Private
  <% end %>
</p>

<p> test </p>
<%= @test == nil %> <!-- If private-, if @test is empty: only user can see it, else, Show who album is shared with-->

<p> Change privacy settings:
<%= form_tag("albums/show", method: "get")  do %>
  <%= select_tag(:option, options_for_select(["Public", "Private"], selected: :option)) %> <!-- change so it's the current option!! -->
<%= submit_tag("Update") %>
<% end %>
</p>

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
  <p> Your ID: <%= current_user.id %> </p>

<% else %>
  <h2>You have <% @photos.count %> photos!</h2>
  <% @photos.each do |p| %>
    <p><%=image_tag p.image.url(:med) %></p>
  <% end %>
<% end %>



<%= form_for @photo, html: {multipart: true} do |f| %>
  <div class="form-group">
    <%= f.label :image %>
    <!-- <%= f.file_field :image %> -->
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>

  <%= f.submit 'Upload' %>
<% end %>

<!--Link to new_album_photo_path  -->
<!-- <%= button_to 'Upload Photos!', new_photo_path %> -->

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
