<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @album.album_name %>
</p>

<%= form_for [@album, @photo], :html=>{:multipart => true} do |f| %>
  <%= f.file_field :image %>
  <%= f.number_field :album, value: (params[:id])%><br>
  <%= submit_tag("Upload") %>
<% end %>

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
<% else %>
  <h2><% @photos.length %></h2>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
