<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.album_name %>
</p>

<p><%= image_tag @album.cover.url %></p>

 <!-- <%= form_tag "create", controller: "photos", method: "post"  do %>
  <%= file_field_tag 'image' %>
  <%= submit_tag("Upload") %>
<% end %> -->

<% if @photos.blank? %>
  <p> You don't have any photos yet </p>
  <p> Your ID: <%= current_user.id %> </p>
<% else %>
  <h2>You have: <% @photos.count %> photos!</h2>
  <p>well you have some photos, we just don't know how many...</p>
<% end %>

<%= button_to 'Upload Photos!', new_photo_path %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
