<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/change_to_edit.js" %>

<section id="portfolio" class="primary">
<br/>
<p id="notice"><%= notice %></p>
<section id="portfolio" class="primary">

<iframe id="ifrm" src="/albums/<%= @album.id%>/form" style="width:70%;" hidden=true></iframe>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <% if not @is_view %>
        <%= render "edit"%>
      <% else %>
        </div>
        <div class="col-md-2">
          <%= render "upload_button" unless @view_only%>
        </div>
      <%end%>
      <span id="album_name_parent">
        <h3 id="album_name" onclick="edit(<%@view_only%>)">
          <%=@album_name%>
        </h3>
        <% if @album_name == "Unnamed Album" and not @view_only %>
          <h5 class = "text-center" id="change_notice">Click the Name Above to Change It</h5>
        <%end%>
        <hr class="small">
        <%= render "uploading" unless @view_only%>
      </span>
  </div>


<div class = "row">
  <div id="photo_container">
    <!--Check to see if there are photos, then display the photos in the album  -->
    <% if @photos.blank? && @other_photos.blank? %>
      <p> No photos yet </p>
    <% else %>
      <% @photos.each do |p| %>
        <span class="picture thumbnail col-md-2 col-md-offset-1 text-center">
          <%=image_tag p.image.url(:large), id:"image"%>
          <br/>
          <%= link_to 'Delete', delete_photo_path(@album, p), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
        </span>
      <% end %>
      <% @other_photos.each do |p| %>
        <span class="picture thumbnail col-md-2 col-md-offset-1">
          <%=image_tag p.image.url(:large), id:"image"%>
        </span>
      <% end %>
    <% end%>
    </div>
  </div>

  <%= render "uploading" unless @view_only%>

</div>






<!--Link to new_album_photo_path  -->
<!-- <%= button_to 'Upload Photos!', new_photo_path %> -->

<%= link_to 'Back', albums_path %>
</section>
<!--copied from new, needs to go in js-->
<script type="text/javascript">
    function test() {
      document.getElementById("access").style.display = "block";
    }

    function showFriends() {
        var selopt = document.getElementById("opts").value;
      if (selopt == "Private") {
            document.getElementById("f1").style.display = "block";
        }
        else {
          document.getElementById("f1").style.display = "none";

        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>
