<%= javascript_include_tag "/js/jquery.js" %>
<%= javascript_include_tag "/js/dragdrop.js" %>
<%= javascript_include_tag "/js/map_choose_default_location.js" %>
<%= javascript_include_tag "/js/change_to_edit.js" %>


<p id="notice"><%= notice %></p>


<%= image_tag @album.cover.url(:med) %>
<iframe id="ifrm" src="/albums/<%= @album.id%>/form" style="width:70%;" hidden=true></iframe>

<%= render "edit" unless @is_view %>


<div class = "row">
  <div id="photo_container">
    <!--Check to see if there are photos, then display the photos in the album  -->
    <% if @photos.blank? %>
      <p> You don't have any photos yet </p>
    <% else %>
      <% @photos.each do |p| %>
        <span class="picture thumbnail col-md-1 col-md-offset-1">
          <%=image_tag p.image.url(:med), id:"image"%>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

  <div class = "row">
    <div class="col-md-12">
      <h3>Your album's default location is shown below</h3>
      <h5>To change the default location, click where you would like to change it to, then click on the green marker to confirm</h5>
      <!-- Show map to allow user to define default location for their album -->
      <div id="map" style="height:300px;width:300px;" class="col-mid-12">Try refreshing the page to see the map</div>
    </div>
  </div>
</div>

<%= render "uploading" unless @view_only%>

<!--Link to new_album_photo_path  -->
<!-- <%= button_to 'Upload Photos!', new_photo_path %> -->

<%= link_to 'Back', albums_path %>

<!--copied from new, needs to go in js-->
<script type="text/javascript">
    function test() {
      document.getElementById("access").style.display = "block";
    }

    function showFriends() {
        var selopt = document.getElementById("opts").value;
      if (selopt == "Private") {
            document.getElementById("f1").style.display = "block";
        }
        else {
          document.getElementById("f1").style.display = "none";

        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>
