<!DOCTYPE html>
<html>
<head>
  <title>Mapperies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <% stylesheet_link_tag "/stylesheets/show_map.css" %>
</head>
<body>
  <%= yield %>
  <div id="map">this is the map</div>

  <%= javascript_include_tag "/js/jquery.js" %>
  <%= javascript_include_tag "/js/bootstrap.min.js" %>
  <%= javascript_include_tag "/js/map.js" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>

</body>
</html>
