<h1> Upload Photo</h1>

<%= form_for @photos, html: {multipart: true} do |f| %>

  <div class="form-group">
    <%= f.label :album_id %>
    <%= f.text_field :album_id %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit 'Upload' %>
<% end %>
