<div id="account_edit_header" class="page-header">
    <h1>Editing Account: <%=current_user.email%></h1>
</div>

<div class="col-md-12">
    <%= form_for @user, url: {action: "save"}, html: {id: "account_edit_form"} do |f| %>

        <%=label_tag :Email, "Email", class: "account_edit_form_label"%>
        <div class = "form-group">
            <%= f.text_field :email%>
        </div>

        <%=label_tag :First_Name, "First Name", class: "account_edit_form_label"%>
        <div class = "form-group">
            <%= f.text_field :first_name%>
        </div>

        <%=label_tag :Last_Name, "Last Name", class: "account_edit_form_label"%>
        <div class = "form-group">
            <%= f.text_field :last_name%>
        </div>

        <%=label_tag :User_Name, "User Name", class: "account_edit_form_label"%>
        <div class = "form-group">
            <%= f.text_field :user_name%>
        </div>

        <%=label_tag :Birthday, "Birthday", class: "account_edit_form_label"%>
        <div class = "form-group">
            <%= f.date_field :birthday%>
        </div>

        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="fa fa-pencil-square-o fa-2x"></i>
        <% end %>

        <a href="/account/settings" class="btn btn-warning">
            <i class="fa fa-times fa-2x"></i>
        </a>



    <% end %>
</div>
