 <!-- About -->
    <section id="login" class="login">
        <div class="panel panel-success" id="settings-start">
            <div class="panel-heading">
              <h3 class="panel-title">Account Settings</h3>
              <a class="btn btn-danger" href="edit" role="button">Edit</a>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class='list-group-item'>
                        Email:
                        <%=@user.email%>
                    </li>
                    <li class='list-group-item'>
                        User Name:
                        <%if @user.user_name %>
                            <%=@user.user_name%>
                        <%else%>
                            <%=@attribute_not_found_message%>
                        <%end%>
                    </li>
                    <li class='list-group-item'>
                        Full Name:
                        <% if @user.first_name and @user.last_name%>
                            <%=@user.first_name + " " + @user.last_name%>
                        <%else%>
                            <%=@attribute_not_found_message%>
                        <%end%>
                    </li>
                    <li class='list-group-item'>
                        Birthday:
                        <% if @user.birthday%>
                            <%=@user.birthday%>
                        <%else%>
                            <%=@attribute_not_found_message%>
                        <%end%>
                    </li>
                </ul>
            </div>
        </div>

   </section>
