    <!DOCTYPE html>
    <html lang="en">

    <head>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">

     <title>Mapperies</title>

     <%= stylesheet_link_tag "application" %>
     <!-- Bootstrap Core CSS -->
     <!--<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
     <%= stylesheet_link_tag "bootstrap.min" %>

     <!-- Custom CSS -->
     <!--<link href="/public/stylesheets/stylish-portfolio.css" rel="stylesheet">-->
      <%= stylesheet_link_tag "stylish-portfolio" %>

     <!-- Custom Fonts -->
     <!--<link href="/public/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
     <%= stylesheet_link_tag "font-awesome.min" %>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
     <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
     <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

     <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tags %>

    </head>
   <body>
   <div id="content">
    <!-- Header -->
    <!-- <header id="top" class="header"> -->
      <nav class="navbar navbar-inverse navbar-static-top">
        <a href="/landing"> <img src="/img/mapperies.gif" alt="Mapperies" style="width:65px;height:50px;"> </a>
        <a href="/account/settings" onclick = $("#menu-close").click();><span class="navbar_text">Account</span></i></a>
        <a href="/albums" onclick = $("#menu-close").click(); ><span class="navbar_text">Albums</span></i></a>
        <a href="/friends" onclick = $("#menu-close").click(); ><span class="navbar_text">Friends</span></i></a>
        <a onclick = $("#menu-close").click(); data-toggle = "modal" data-target = "#confirm_logout"><span class="navbar_text">Log Out</span></i></a>
          <% if signed_in? %>
            <% if current_user.avatar_id %>
              <%= image_tag (Photo.find(current_user.avatar_id).image.url(:small)), :class=>"image_position"; %>
            <% else %>
              <img src="/assets/no_photo_user.png" style="height:50px;width:50px;float: right;">
            <% end %>
            <a href="/account/settings" id="user_name"><%= user_identifier %></a>
          <% end %>
        </div>
      </div>
         <%= yield %>
      </nav>
     <!-- </header> -->

     <!--Modal Alert to Confirm Logout -->
     <div class="modal fade" tabindex="-1" role="dialog" id="confirm_logout">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">Are sure you want to continue?</h4>
           </div>
           <div class="modal-footer">
             <%= button_to "Logout", "/sign_out" ,{class: "btn btn-danger", :method => :delete}%>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
   </div>

     <div id="bottom" class="bottom">
       <div class="col-lg-10 col-lg-offset-1 text-center">
           Copyright &copy; Team Mapperies 2016
       </div>
     </div>


     <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

    <%= javascript_include_tag "/js/jquery.js" %>

    <%= javascript_include_tag "/js/bootstrap.min.js" %>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#menu-toggle").show();
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#menu-toggle").hide();
    });

    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
   </body>
 </html>
