    <!DOCTYPE html>
    <html lang="en">

    <head>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">

     <title>Mapperies</title>

     <%= stylesheet_link_tag "application" %>
     <!-- Bootstrap Core CSS -->
     <!--<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
     <%= stylesheet_link_tag "bootstrap.min" %>

     <!-- Custom CSS -->
     <!--<link href="/public/stylesheets/stylish-portfolio.css" rel="stylesheet">-->
      <%= stylesheet_link_tag "stylish-portfolio" %>

     <!-- Custom Fonts -->
     <!--<link href="/public/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
     <%= stylesheet_link_tag "font-awesome.min" %>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
     <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
     <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

    </head>
   <body>
   <div id="content">
   <!-- not on landing and login pages -->
   <!--< unless controller_name == "landing" or controller_name == "account" %>-->
   <% if @nav_bar %>
     <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
          <a href="/main"  onclick = $("#menu-close").click();>
              <i class="fa fa-home fa-fw"><span class="sidebar_text">Mapperies</span></i>
          </a>
        </li>
        <li>
          <a href="/account/settings" onclick = $("#menu-close").click();><i class="fa fa-user fa-fw fa-2x"><span class="sidebar_text">Account</span></i></a>
        </li>
         <!-- <li>
          <a href="/map" onclick = $("#menu-close").click(); >Landing Page</a>
        </li>-->
        <li>
          <a href="/albums" onclick = $("#menu-close").click(); ><i class="fa fa fa-camera-retro fa-2x"><span class="sidebar_text">Albums</span></i></a>
        </li>
        <li>
          <a href="/friends" onclick = $("#menu-close").click(); ><i class="fa fa-group fa-2x"><span class="sidebar_text">Friends</span></i></a>

        </li>
        <li>
          <a onclick = $("#menu-close").click(); data-toggle = "modal" data-target = "#confirm_logout"><i class="fa fa-sign-out fa-2x"><span class="sidebar_text">Log Out</span></i></a>


        </li>
      </ul>
    </nav>
    <div>
      <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    </div>
  <% end %>
    <!--< end %>-->

     <header id="top" class="header"> <!--give this header a different class-->
      <div id="icon" style="width:100%;height:50px;background-color:green;position:fixed;top:0px;">
        <a href="/landing"> <img src="/img/mapperies.gif" alt="Mapperies" style="width:65px;height:50px;"> </a>
      </div>
      <div style="width:100%;height:60px;">
      </div>
         <%= yield %>
     </header>
     <!--Modal Alert to Confirm Logout -->
     <div class="modal fade" tabindex="-1" role="dialog" id="confirm_logout">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">Are sure you want to continue?</h4>
           </div>
           <div class="modal-footer">
             <%= button_to "Logout", "sign_out" ,{class: "btn btn-danger", :method => :delete}%>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
   </div>

     <footer>
         <div class="container">
             <div class="row">
                 <div class="col-lg-10 col-lg-offset-1 text-center">
                     <h4><strong>Mapperies</strong>
                     </h4>
                     <p>Brandeis University</p>

                     <ul class="list-unstyled">
                         <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                         <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                         </li>
                     </ul>
                     <br>
                     <ul class="list-inline">
                         <li>
                             <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                         </li>
                     </ul>
                     <hr class="small">
                     <p class="text-muted">Copyright &copy; Team Mapperies 2016</p>
                 </div>
             </div>
         </div>
     </footer>


     <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

    <%= javascript_include_tag "/js/jquery.js" %>

    <%= javascript_include_tag "/js/bootstrap.min.js" %>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
   </body>
 </html>
